@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;   
    text-align: center;
}
.count_div{
    padding: 40px;
}
.count_div button{
    width: 100px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 10px;
}
